@model CursoMod165.Models.Staff

<h1>Delete</h1>

<h3 class="text-danger"> Are you sure you want to delete this Staff information?</h3>    <!--  alterámos a letra para ser mais perceptivel -->



<hr />


<!--  Criar matriz para apresentacao dos dados  -->
<div class="row">
    <div class="col-md-4">

        <form asp-action="Delete">
            <!-- se for dada a accao create  -->
            <!--  valida formatos definidos no modelo -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <!-- Colocar o form name dentro de um grupo, para ficar mais organizado  -->
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="form-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" disabled/>  <!-- como o ctrl é desativado so se vê nao deixa alterar -->
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>   <!--  Escreve Label class... é biblioteca bootstrap -->
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!--  Não estava a criar o registo pk o campo address não era preenchido -->
            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" disabled />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>



            <div class="form-group">
                <!-- O erro de umas " nao sao detetadas -->
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" disabled />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!-- Para nao estar a fazer migracao vou deixar NTF em vez de NIF -->
                <label asp-for="NTF" class="form-label"></label>
                <input asp-for="NTF" class="form-control" disabled />
                <span asp-validation-for="NTF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" class="form-control" disabled />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="form-label"></label>
                <input asp-for="Salary" class="form-control" disabled/>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>



            <div class="form-group">
                <!--  fim do formulario   -->
                <input type="submit" value="Delete" class="btn btn-danger" />  <!-- cria registo key -->
                <!-- este Delete é um do botao, final para submeter todos os dados  -->
                <!-- link que Sai e volta para a Lista -->
                <a asp-action="Index">Back to List</a>  
            </div>





        </form>

    </div>
</div>