@model CursoMod165.Models.Staff

<h1>Details</h1>

<h4>Staff</h4>

<hr />


<!--  Criar matriz para apresentacao dos dados  -->
<div class="row">
    <div class="col-md-4">

        <form asp-action="Details">
        <!-- Nao é necessario o botao de accao no cabecalho -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <!-- Colocar o form name dentro de um grupo, para ficar mais organizado  -->
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="form-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" disabled/>
                <!-- a ultima linha apaga-se -->
                <!-- <span asp-validation-for="EmployeeNumber" class="text-danger"></span> -->
            </div>

            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>   <!--  Escreve Label class... é biblioteca bootstrap -->
            <input asp-for="Name" class="form-control" disabled />     <!-- recebe uma entrada de valor na var Name  -->
                 
            </div>

            <!--  Não estava a criar o registo pk o campo address não era preenchido -->
            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" disabled />
                 
            </div>



            <div class="form-group">
                <!-- O erro de umas " nao sao detetadas -->
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" disabled />
                
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" disabled />
                
            </div>

            <div class="form-group">
                <!-- Para nao estar a fazer migracao vou deixar NTF em vez de NIF -->
                <label asp-for="NTF" class="form-label"></label>
                <input asp-for="NTF" class="form-control" disabled />
                
            </div>

            <div class="form-group">
                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" class="form-control" disabled />
               
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="form-label"></label>
                <input asp-for="Salary" class="form-control" disabled />
               
            </div>



           





        </form>

    </div>
</div>
