@model CursoMod165.Models.Staff

<h1>Edit</h1>

<h4>Staff</h4>

<hr />


<div>
    <!-- botao no topo -->
    <a asp-action="Index">Back to List</a>    <!-- o "a" é para fazer link aparece a azul na pagina  -->

</div>

<!--  Criar matriz para apresentacao dos dados  -->
<div class="row">
    <div class="col-md-4">

        <form asp-action="Edit">
            <!-- se for dada a accao create  -->
            <!--  valida formatos definidos no modelo -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <!-- Colocar o form name dentro de um grupo, para ficar mais organizado  -->
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="form-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>   <!--  Escreve Label class... é biblioteca bootstrap -->
                <input asp-for="Name" class="form-control" />     <!-- recebe uma entrada de valor na var Name  -->
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <!--  Não estava a criar o registo pk o campo address não era preenchido -->
            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>



            <div class="form-group">
                <!-- O erro de umas " nao sao detetadas -->
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <!-- Para nao estar a fazer migracao vou deixar NTF em vez de NIF -->
                <label asp-for="NTF" class="form-label"></label>
                <input asp-for="NTF" class="form-control" />
                <span asp-validation-for="NTF" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="form-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>





            <!-- Copiado do create  -->

            <!-- Temos de adicionar campo para preenchimento da Chave/nome role  -->
            <div class="form-group">
                <label asp-for="StaffRoleID" class="form-label"></label>
                <!-- para termos acesso à informação da tabela secindaria temos de fazer uma lista de selecção -->
                <!-- Temos de passar uma variavel para casar com o numero da tabela secundaria roles -->
                <select asp-for="StaffRoleID" class="form-control" asp-items="ViewBag.StaffRoles">
                </select>

                <span asp-validation-for="StaffRoleID" class="text-danger"></span>
            </div>



            <!--  Agora temos de adicionar aqui group id= specialty-->
            <div id="form-group-specialty" class="form-group">
                <label asp-for="Specialty" class="form-label"></label>
                <select asp-for="Specialty" class="form-control" asp-items="Html.GetEnumSelectList<Specialty>()"></select>
                <!--// Programacao dinamica  , devolve um parametrico (com se altera um dado do objecto altera todos) -->

                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>

            <!-- Fim da copia feita do edit -->



            <div class="form-group">
                <!--  fim do formulario   -->
                <input type="submit" value="Save" class="btn btn-primary" />  <!-- cria registo key -->
                <!-- este create é um do botao, final para submeter todos os dados  -->
            </div>



        </form>

    </div>
</div>


@section Scripts {

    <script type="text/javascript" on-content-loaded="true">
        // on-content -> serve para carregar JavaScript

        // var que retorna id do medico
        const medicStaffRoleID = @(ViewBag.MedicStaffRoleID);  // retorn ID 2 = role Medico
        function visibleFormGroupSpecialty(e) {    // esta função nao necessita do atributo "e"
            // $("select#StaffRoleID").change((e) => {

            let selectedStaffRoleID = $("select#StaffRoleID").val();

            let formGroupSpecialty = $("div#form-group-specialty");

            console.log(selectedStaffRoleID);

            // Agora so apresenta especialidade se for  medico
            // .css é J.query . if (selectedStaffRoleID == 2)
            if (selectedStaffRoleID == medicStaffRoleID) { // vemos receber do controlador o ID do medico para nao termos aqui um numero 2
                formGroupSpecialty.css('visibility', 'visible');  // aqui mostramos
                $("select#Specialty").val('@((int)Specialty.Generalist)');  // por defeito é um valor que não é 0,1,2,3, ... etc
                // ao generalist é atribuido um numero que pode ser alterado para outro qualquer ...
            }
            else {
                formGroupSpecialty.css('visibility', 'hidden');  // aqui escondemos
                $("select#Specialty").val(null); // prenche a null se nao for médico
                // Nudge - um pequeno empurrão : não é livro de programação / economia ...

            }
        }

        $("select#StaffRoleID").change(visibleFormGroupSpecialty);  // ordem para executar a função -> visible...

        // Inicializar o form-group-specialty
        visibleFormGroupSpecialty(null);  // quando inicializa a pagina fica null sem mostrar



    </script>


}