@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>

    <div>
        <h5>Tarefas a fazer</h5>


        <span> ->  Adicionar migracao dos novos campos do customer
                ver pk nao existe relacao produtos a partir da productList aos campos dos produtos
                eventualmente retirar anular migracao ate productlist e refazer ligacao, tirar tabela do numVenda
                alterar talvez na productList a order das chaves, pk é mais importante a ligacao aos produtos

                fazer grid para os produtos

                na warehouse criar Inner Join com productList e Produtos e produtos category

        </span>
        <br />

        <p>
            Pergunta Prof:  a Lista de produtos por categoria não pode ser no separador Produtos??
            
            Fazer lista de produtos que existem numa categoria, por exemplo frutas e aparece so, morangos, bananas, etc, ou seja fazer aqui um grid tb.

        </p>
        <br />
        <p> fazer funcao edit nos produtos </p>

    </div>

</body>
  
