@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>

    <div>
        <h5>Tarefas a fazer</h5>


        <span> ->  Adicionar migracao dos novos campos do customer
                ver pk nao existe relacao produtos a partir da productList aos campos dos produtos
                eventualmente retirar anular migracao ate productlist e refazer ligacao, tirar tabela do numVenda
                alterar talvez na productList a order das chaves, pk é mais importante a ligacao aos produtos

                fazer grid para os produtos

                na warehouse criar Inner Join com productList e Produtos e produtos category

        </span>
        <br />

        <p>
            Pergunta Prof:  a Lista de produtos por categoria não pode ser no separador Produtos??
            
            Fazer lista de produtos que existem numa categoria, por exemplo frutas e aparece so, morangos, bananas, etc, ou seja fazer aqui um grid tb.

        </p>
        <br />
        <p> fazer funcao edit nos produtos </p>
        <p> Criar Formatacao para codigo postal</p>
        <p> Colocar back list no create Customer </p>
        <p> Edit customer nao grava </p>
        <p> FAzer Grid nos cliente ... </p>
        <p> Toast Nao esta a activo/funcionar nos produtos</p>
        <p> Na criacao de produtos adicionar o campo peso (usado para envio de mercadorias, será peso por unidade, kd for igual a kilo é )</p>
        <p> apresentar o preço formatado em euros </p>
        <p> Ver qual a credenciacao para o menu categoria e activar esta premissao basedo no utilizador </p>
        <p> Falta Alterar a letra quando chego ao 999 </p>
        <p> Ver condicoes de premissao para a funcao delete customer tem implementado</p>
        <p> Colocar back to List no create do sales order</p>
        <p> Melhorar centecimas e decimas do campo quantidade e preço </p>
        <p> Alterar cor das views para cinza/grey </p>
        <p> zip code nao tem formatacao </p>
        <p> Colocar email na Lista/index de customers </p>
        <p> Edit customer nao funciona </p>
        <p> Alterar Cod. Customer para String 000000 </p>
        <p> Ver placeholder="mm/dd/yyyy" -> julgo k é formatacao </p>
    
    
    
    <h4>    Items concluidos: </h4><br />
    <p> Menu Categoria totalmente concluido sem validacao e acessos; falta ver o k acoontece se apagar uma categoria que já é usada por determinado produto</p>
    <p> Menu Produtos a funcionar como categorias</p>    

</div>

</body>
  
