@model CursoMod165.Models.ProductList 
@* aqui é o cabecalho ... da vista *@
<h1>Create</h1>

<h4>Add Product To Order List</h4>

<hr />

<!--  COlocar BAckground color  papayawhip; gainsboro style="background-color:burlywood" -->
<body>
    @* formatacao do corpo da pagina *@

    <!-- bootstrap dito pelos alunos, é uma biblioteca do css  -->
    <!-- http.s://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->
    <div class="row">
        <div class="col-md-4">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <!-- para copia o nome para nos novos camppos fazer shift + alt + "." "."-->
                    <!-- control-Label e não form-label -->
                    <label asp-for="Quantity" class="form-label"></label>  <!-- // -->
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" value="0" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ProductID" class="form-label"></label>
                    <input asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductList">  @* asp-items="ViewBag.ProductList" *@
                    <span asp-validation-for="ProductID" class="text-danger"></span>
                </div>

                @*
                <label asp-for="CategoryID" class="form-label"></label>
                
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.Categories">
                    <!-- ViewBag.CategoryList -->
                </select>

                <span asp-validation-for="CategoryID" class="text-danger"></span>
                *@
                

                <div class="form-group">
                    <label asp-for="SaleID" class="form-label"></label>
                    <input asp-for="SaleID" class="form-control" value="1"/> 
                    <span asp-validation-for="SaleID" class="text-danger"></span>
                </div>
                
                


                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>


            </form>


        </div>

    </div>
</body>
