@model IEnumerable<CursoMod165.Models.Sale>
<!--  Apresenta diferenca entre Encomendas totais e encomendas pagas    -->
@* aqui apresento uma lista com o conteudo da dBase *@


<h1>@SharedLocalizer["Paid Order"]</h1>


<partial name="Shared/_form" />

<div>
    @* <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> *@

    @* <a asp-action="Index"> Back to List</a> *@
    <a class="btn btn-outline-info" asp-action="Index">@SharedLocalizer["Back to List"]</a>

</div>