<!-- aqui nao é um enumeravel, mas sim um registo com os respetivos campos -->
@model CursoMod165.Models.Customer

<h1>Create</h1>

<h4>Customer</h4>

<hr />

<!-- bootstrap dito pelos alunos, é uma biblioteca do css  -->
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- model.CodVenda -->
            @* Nota: ESte numero deve de ser criado automaticamente, a partir de um viewbag ultimo nº + 1
            http s://www.aspsnippets.com/questions/838569/Get-Id-of-last-Inserted-Record-using-Entity-Framework-in-ASPNet-Core-MVC/
            *@
              
            <div class="form-group">
                <!-- para copia o nome para nos novos camppos fazer shift + alt + "." "."-->
                <!-- control-Label e não form-label -->
                <!-- <label asp-for="CodCustomer " class="form-label"></label>   // Esconder Label -->
                <input type="hidden" asp-for="CodCustomer " class="form-control" value="0" />  <!-- value="0001"  ; value=(c)ViewBag.Num_Customer-->
                <span asp-validation-for="CodCustomer " class="text-danger"></span>
            </div> 
            
            
            
            

            <div class="form-group">
                <!-- para copia o nome para nos novos camppos fazer shift + alt + "." "."-->
                <!-- control-Label e não form-label -->
                <label asp-for="Name" class="form-label"></label>  <!-- // -->
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span> 
            </div>

            <div class="form-group">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ZipCode" class="form-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

           

            <div class="form-group">
                <label asp-for="NIF" class="form-label"></label>
                <input asp-for="NIF" class="form-control" />
                <span asp-validation-for="NIF" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
            

        </form>


    </div>

</div>
